.hero {
  position: relative;
  overflow: hidden;
  min-height: 690px;
  display: flex;
  align-items: center;
  padding: 20px 50px;
  background-size: cover;
  background-position: center ;
}

.hero-content {
  position: relative;
  z-index: 1;
  width: 55%;
}

.hero-badge {
  display: inline-block;
  padding: 8px 18px;
  background: #d9f2d6;
  color: #2e5939;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 24px;
}
.hero h1 {
  font-size: 56px;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 24px;
}

.hero p {
  font-size: 18px;
  color: #666;
  line-height: 1.8;
  margin-bottom: 40px;
  max-width: 500px;
  color: rgba(255, 255, 255, 0.85);
}

.hero-buttons {
  display: flex;
  gap: 18px;
}
.primary-btn {
  background: #2e5939;
  color: white;
  border: none;
  border-radius: 999px;
  padding: 16px 34px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.primary-btn:hover {
  background: #22442b;
}
.hero-blob1 {
  position: absolute;
  top: -80px;
  right: -80px;
  width: 300px;
  height: 300px;
  background: rgba(217, 242, 214, 0.5);
  border-radius: 50%;
  filter: blur(90px);
  z-index: 0;
}
.hero-blob2 {
  position: absolute;
  bottom: -100px;
  left: -60px;
  width: 280px;
  height: 280px;
  background: rgba(46, 89, 57, 0.08);
  border-radius: 50%;
  filter: blur(90px);
  z-index: 0;
}
.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.2)
  );
  z-index: 0;
}
